body {
	margin: 0;
	height: 100%;
}

nav {
	background-color: transparent;
	border: 0;
	border-color: transparent;
	box-shadow: none;
	z-index: 999;
	}
	

nav {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
.jumbotron{
	background-image: url(../images/backgroundc.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
	margin: auto;
	}
	
.jumbotron h1 {
	padding: 3em 7em;
	position: static;
	color: #5085a9;
	}

.jumbotron .btn {
	margin-top: -20em;
	padding-left: 30em;
	background-color: transparent;
	border: 0;
	border-color: transparent;
	box-shadow: none;
	}

.jumbotron p {
	color: #000;
	}

.container #slogan {
	color: #3d3d3d;
	font-family: arial, sans-serif;
	text-align: center;
	margin-top: -8em;
	}
	
.row {
	text-align: center;
	font-size: 25px;
	}


.row a {
	text-decoration: none;
	color: #3d3d3d;
	margin-top: 10em;
	}
	

	

	
	


	
	
