body {
	margin: 0;
	height: 100%;
}

nav {
	background-color: transparent;
	border: 0;
	border-color: transparent;
	box-shadow: none;
	z-index: 999;
	}
	

nav {
	padding-top: 25px;
	padding-bottom: 25px;
	}
	
h2 {
	margin-top: 5em;
	margin-left: 5em;
	}